/* Add styles for the app intro */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-image: url('https://drive.google.com/uc?export=download&id=1mA7KQE8ocO65tnJRCHhmM5eKcIDO7LGU'); /* Add your background image URL here */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background */
    background-color: #87CEEB; /* Fallback background color */
    color: #ffffff;
}

#intro-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

#intro-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#intro-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

form {
    width: 300px;
    height: 300px;
    margin: 80px auto;
    padding: 50px;
    border-radius: 0px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

label, select, input {
    display: block;
    margin-right: 100px;
    border-radius: 10px;
    width: 100%;
}

h1 {
    color: #800080;
}

input[type="submit"] {
    background-color: #0000FF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0000FF;
}
